#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDI_MAIN_ICON ICON "ICO\\ShakaFHD.ico"

IDD_SETTINGS_DLG DIALOGEX 0, 0, 380, 380
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置"
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX        "字体设置", -1, 10, 10, 360, 105
    LTEXT           "字体:", -1, 20, 30, 28, 14
    COMBOBOX        IDC_FONT_FACE_COMBO, 50, 28, 170, 160, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "大小:", -1, 230, 30, 28, 14
    EDITTEXT        IDC_FONT_SIZE_EDIT, 260, 28, 40, 14, ES_NUMBER | ES_CENTER | WS_TABSTOP
    CONTROL         "", IDC_FONT_SIZE_SPIN, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 295, 28, 12, 14
    LTEXT           "颜色:", -1, 20, 52, 28, 14
    LTEXT           "", IDC_COLOR_PREVIEW, 50, 48, 60, 22, SS_CENTER | SS_CENTERIMAGE | WS_BORDER | SS_NOTIFY
    PUSHBUTTON      "选择颜色...", IDC_COLOR_CHOOSE_BTN, 118, 48, 70, 16
    LTEXT           "预览: AaBb 倒计时 00:00:00", IDC_FONT_PREVIEW, 20, 78, 340, 30, SS_CENTER | SS_CENTERIMAGE | WS_BORDER

    GROUPBOX        "提示音设置", -1, 10, 125, 360, 110
    CONTROL         "默认提示音 (系统蜂鸣)", IDC_SOUND_DEFAULT_RADIO, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 20, 145, 150, 14
    CONTROL         "自定义提示音:", IDC_SOUND_CUSTOM_RADIO, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 20, 165, 100, 14
    EDITTEXT        IDC_SOUND_PATH_EDIT, 20, 185, 260, 14, ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON      "浏览...", IDC_SOUND_BROWSE_BTN, 285, 184, 40, 16, WS_DISABLED
    PUSHBUTTON      "测试", IDC_SOUND_TEST_BTN, 330, 184, 30, 16

    GROUPBOX        "其他设置", -1, 10, 245, 360, 80
    CONTROL         "窗口始终置顶", IDC_TOPMOST_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 265, 150, 14
    CONTROL         "关闭时最小化到托盘", IDC_TRAY_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 283, 150, 14
    LTEXT           "双击主窗口 / 右键菜单 设置倒计时", -1, 20, 303, 300, 14

    PUSHBUTTON      "确定", IDC_OK_BTN, 200, 340, 80, 25, BS_DEFPUSHBUTTON
    PUSHBUTTON      "取消", IDC_CANCEL_BTN, 290, 340, 80, 25
END
